/*--Aqui trabajo el diseño del fondo del formulario */

body {
  background-image: url(img/FONDO.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/*--con este elemento oculto la segunda vista */
.hide{
  display: none;
}

/*--aqui se va diseñando el cuadro que contiene los botones y cajas de texto  */

form {
  background-size: 150%;
  align-items: center center;
  width: 120%;
  height: 120%;
  border: solid #48d1cc 1px;
  margin-top: 0px
}

img {
  width: 100px;
  height: rgb(255, 0, 0);
  border-radius: 50%;
  border: solid #fff 2px;
  margin-top: 0px;
}
 
img:hover {  /*--efecto de rotacion de la imagen */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ffd700;
  -webkit-box-shadow: 0px 0px 15px 15px #e4e3dc;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#error{     
color: rgb(239, 243, 16);
}


h1, h2, p {
  color: #fff;
  border: #48d1cc 2px;
  text-align: center center;
  font-size: 120%;
  justify-content: space-between;
}

label {
  width: 90%;
  margin: 1% 0% 1% 0%;
  font-size: 20px;
  display: inline-block;
  color: #fff;
}

input {
  padding: 5px;
  font-weight: 200;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0px;
  background-color: rgba(255, 255, 255, .6);
  border: solid 2px rgba(255, 255, 255, .01);
  color: #262727;
}

textarea {
  vertical-align: top;
  height: 5em;
  padding: 5px;
  resize: vertical;
  border-radius: 5px;
  cursor: pointer;
  border-color: #fff8dc;
  background-color: rgba(255, 255, 255, .6);
  border: solid 2px rgba(255, 255, 255, .01);
  color: #262727;
}

button, input[type=button] {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #262727;
  background-color: #1883ba;
  border-radius: 5px;
  border: 2px solid #48d1cc;
}

button, input[type=button]:hover {  /*--Aqui el efecto de sombreado de los botones*/
  color: #1883ba;
  background-color: #ffffff;
}

footer {
  position: relative;
  margin-top: 0px;
  text-align: right;
  color: #edf1f3;
  padding:50px;
  clear:both;
  width:100%;
  
}




